.gcinui-form {
  margin: 0;
  padding: 0;
}
.gcinui-form-fields {
  display: block;
  margin: 0 1em 2px 0;
}

.gcinui-form-param {
  font-size: 12px;
  padding: 0 0 .4em 0;
}

.gcinui-form-label {
  display: inline-block;
  font-size: 10px;
  margin-right: 1ex;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 10em;
}

.gcinui-form-label {
  display: inline-block;
  font-size: 10px;
  margin-right: 1ex;
}

.gcinui-form-input-text,
.gcinui-form-input-number {
  width: 14em;
}

.gcinui-form-input-number {
  width: 4em;
}

.gcinui-form-result {
  background: #eee;
  border: solid 1px #ddd;
  display: inline-block;
  font-size: 12px;
  max-width: 40em;
  padding: .5em;
  vertical-align: top;
}

.gcinui-form-error {
  color: red;
  font-weight: bold;
}

.gcinui-form-textarea {
  margin-bottom: .5em !important;
}

.gcinui-form-buttons {
  position: absolute;
  margin-top: -21px;
}

.gcinui-form-prettify,
.gcinui-form-copy {
  background-color: #e9edef;
  background-image: -webkit-linear-gradient(top, #eef1f3, #e5e9ec);
  background-image:    -moz-linear-gradient(top, #eef1f3, #e5e9ec);
  background-image:     -ms-linear-gradient(top, #eef1f3, #e5e9ec);
  background-image:      -o-linear-gradient(top, #eef1f3, #e5e9ec);
  background-image:         linear-gradient(top, #eef1f3, #e5e9ec);
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(186, 197, 203, .58), inset 0 0 0 1px rgba(255, 255, 255, .6);
  cursor: pointer;
  display: inline-block;
  height: 19px;
  margin-right: .3ex;
  position: relative;
}

.gcinui-form-prettify:hover,
.gcinui-form-copy:hover {
  box-shadow: 0 0 0 1px rgba(186, 197, 203, 1), inset 0 0 0 1px #fff;
}

.gcinui-form-prettify:active,
.gcinui-form-copy:active {
  background-color: #ccd4d9;
  background-image: -webkit-linear-gradient(top, #bac6ce, #dee4e8);
  background-image:    -moz-linear-gradient(top, #bac6ce, #dee4e8);
  background-image:     -ms-linear-gradient(top, #bac6ce, #dee4e8);
  background-image:      -o-linear-gradient(top, #bac6ce, #dee4e8);
  background-image:         linear-gradient(top, #bac6ce, #dee4e8);
  box-shadow: inset 0 0 3px 0 rgba(108, 118, 124, .56), inset 0 1px 3px 0 #6c767c;
}

.gcinui-form-copy {
  width: 60px;
}

.gcinui-form-prettify:before,
.gcinui-form-copy:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAbCAYAAADVq2dMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAkNJREFUeNrsWL9Lw0AUvivSXal0FkEFF3dBi0sHHSwu4h/QSdeKYDtUhHbQpVM7i4uCu3RxE5fq7tTFWSkIVTm/9BLz6y6XS5Mo0gfXNpfk3o/ve+/dle5XjhnxCcUQTJvSap5QElIODqtYjmax3ArWfPDqaTXr3uclip02Wer5NWWMkSRl5AQ3wFB0iXGE0efa4USjPraOKe652zP/dXQkPOvswfASLs8x14BfA4HTTM4IsV2xIeFSjgjzwPtpSXGPcTse8VFAQF5jQkLCQkOhwBgREjJ0OJ3s8GG9IdYDEuQUQ4GEKjd4wNLJCY6MoegGo4Lx7HCexIeEgwKoGDRWTxjL4rOAcaeqfD4kePIH2pM4EmlIhvwD4XT6oZKolFHHN5/Ta3Y141U0O4ZmR0I0uxpz6w3iEbfboFM5gvMdncSG0xkY9wWNaHbUbHZMltja9lDxtkNU1mxkdBLfVWLp6LV3RA8lljYwNfA6EVxiqZAdsSFhK1fRgFpMeILudUGzi4CEpZwx4u+44ghIcqKsQKRtNtDPhfm57u7O9kVuZvoKU0O9DSAVbjsSzwkz+iw/m+uVtorXy0uLXVz3cO8jjpxAdaq1vZ7pb/CUki1tFs821lZv8fseOt9klLMQc7JBZY8MiU7MThj9KI/xEuJZbXsmHfuvSECfkB8HLY4m3e1DOzEmnRKtbJGcsPctwcdBUTSD63u0bp8WElFQSRqJqvrvG8khxX+40ur2EyT81SnEcVCeQ4l0+1+pTp20nfgWYACcGjhlnhHiswAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 8px;
  left: 5px;
  position: absolute;
  top: 6px;
}

.gcinui-form-copy:before {
  background-position: 0 0;
  width: 49px;
}

.gcinui-form-copy:active:before {
  background-position: 0 -9px;
}

.gcinui-form-prettify {
  width: 24px;
}

.gcinui-form-prettify:before {
  background-position: 0 -19px;
  width: 13px;
}

.gcinui-form-prettify:active:before {
  background-position: -15px -19px;
}

.gcinui-form-hidden {
  display: none;
}
