.original .message {
  white-space: pre-wrap;
}
.original .message-with-formatter {
  white-space: pre;
}


th.c {
  width: 4em;
}

td.translation {
  width: auto;
}

td.translation textarea {
  resize: vertical;
}

td.gcinuielper {
width: 27em;
}

.context {
  margin-top: 1em;
  color: #bbb;
  font-size: 90%;
}

.msgrow-head td {
  border-bottom: none;
}

.context-comment {
  color: #000;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: .2em;
}