<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>untitled</title>
  <link rel="stylesheet" href="form.css" type="text/css" media="screen" charset="utf-8">
  <style>
    #message {
      float: left;
      font-size: 12px;
      margin-right: 1em;
      padding: 1em;
      width: 30em;
      height: 40em;
    }
  </style>
</head>
<body>
<textarea id="message"></textarea>
</body>
<script src="http://localhost:9810/compile?id=gcinui&mode=raw" charset="UTF-8"></script>
</html>
